<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Sklep i wypożyczalnia gier planszowych</h2>
                <hr class="light">
                <p class="text-faded">Zapraszamy do nowo otwartego sklepu i wypożyczalni gier planszowych. W Takaro znajdziesz gry dla każdego - zarówno dla planszówkowych wyjadaczy, jak i rodziny chcącej wspólnie spędzić czas przy lekkiej i przyjemniej rozrywce.</p>
                <a href="#map" class="btn btn-default btn-xl page-scroll">Odwiedź nas!</a>
            </div>
        </div>
    </div>
</section>
