<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Skontaktuj się z nami!</h2>
                <hr class="primary">
                <p>Chcesz kupić lub wypożyczyć grę? Potrzebujesz porady co wybrać? Napisz lub zadzwoń do nas, albo po prostu wpadnij do sklepu.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-at fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://facebook.com/{{ site.facebook_username }}">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.facebook_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="#">
                    <i class="fa fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>889 882 684</p>
                </a>
            </div>
            <div id="map" class="col-lg-6 col-lg-offset-3 text-center">
                <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/search?q=takaro%20olsztyn&key=AIzaSyBOgUCSrKo2gTLfNyNsKRIUnVHZ3jrLGqE" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>
