<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div id="logo" class="row">
                <div class="pic col-sm-2 col-sm-offset-3">
                    <img src="img/logo_small.png" alt="Takaro gry planszowe">
                </div>
                <div class="text col-sm-4">
                    <h1>Takaro</h1>
                    <h2>gry&nbsp;planszowe</h2>
                    <div class="clear"></div>
                </div>
            </div>
            <p>Zapraszamy do naszego sklepu i wypożyczalni gier planszowych<br>przy ul. Żeromskiego 24L w Olsztynie</p>
            <a href="/ceny-skle"  class="btn btn-primary btn-xl page-scroll">Cennik sklepu</a>
            <a href="/ceny-wypozyczalnia" class="btn btn-primary btn-xl page-scroll">Cennik wypożyczalni</a>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Skontaktuj się z nami</a>
        </div>
    </div>
</header>
