<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div id="logo" class="row">
                <div class="first-row col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2">
                    <img src="img/logo_small.png" alt="Takaro gry planszowe">
                    <h1>Takaro</h1>
                    <h2>gry planszowe</h2>
                    <div class="clear"></div>
                </div>
            </div>
            <p>Zapraszamy do naszego sklepu i wypożyczalni gier planszowych<br>przy ul. Żeromskiego 24L w Olsztynie</p>
            <a href="#prices" class="btn btn-primary btn-xl page-scroll">Zobacz cennik</a>
            <a href="#contact" class="btn btn-primary btn-xl page-scroll">Skontaktuj się z nami</a>
        </div>
    </div>
</header>
